<!DOCTYPE html>
<html>
<head>
    <title>title</title> <!-- The title of the webpage (should be updated with a meaningful title) -->
</head>
<body>
    <h2>Get To Know Joel</h2> <!-- Main heading of the page -->

    <ul>
        <!-- Link to Quick Wits Comedy, where Joel performs regularly -->
        <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a> – Where Joel performs regularly.</li>

        <!-- Link to Baconsale, a pop culture podcast that Joel is part of -->
        <li><a href="https://baconsale.com/" target="_blank">Baconsale</a> – A fun pop culture podcast.</li>
    </ul>

    <!-- Clickable image that links to the Baconsale website -->
    <a href="https://baconsale.com/" target="_blank">
        <img src="https://public.boxcloud.com/api/2.0/internal_files/1439606248084/versions/1578785044521/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!7b9c_h3tr6QQet7LsbaV2Rd_8v0a8XwOAWvpZZGLY7xyki25utwXJnHo9hq5zVZHwafzlUrVwyd2kekb6OpcHmii0L37Ov_1VDVYr-4pAl6asSOJIzeiw8EiMUfJ-krVHaD95HS37pWazcjg968XKa7A1WSQu7Z3_pkgDidyOPMqyTYXOb7jnt6E-2daLc0hn8tpNXl1i5KPbxgXLE0-3zm8w0BewxEHlkhri_cKY6eIZ-F0QXyNHs8gVyyarR-JTGt70I-HATpEbhe5Mxsm0LeAQkQu0c83KIB3ltjjPjgAdrCLY96D59DKN8Eek02tBZwXFTcDyokrqzzPSTCb6vvVrDLhp2iRC_R4e9O56-0-Lf1XrPTh1AjaCyuqTdVKbzwIsMoVPB1PofDc3DpMPxBLihAjbw7li-r5PZUEZ50l1E_KuuVozKul2fYvSN_r06D9-_X77KOU3_RPR4KbwPqwW-7xQ7_0ZFnC3GKQdMD0zrZCLiP_XeMclrPP29hIJrrYzTiJXACka3J7zYtgXGtMzIsrsDDUQ4nrbQyVNloi2tpcPapN0YWioOgRLL29wi-ELoDSTgz3Zl3yc2mdtev3y7EkIgQS8B3NYHs8&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2Fie6ibeddqm0f6oudp7bc5dyt87zxi2u4&box_client_name=box-content-preview&box_client_version=3.0.0" alt="Joel Baconsale" width="400">
    </a>
</body>
</html>
