

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h2>Get To Know Joel</h2>
<ul>
    <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a> – Where Joel performs regularly.</li>
    <li><a href="https://baconsale.com/" target="_blank">Baconsale</a> – A fun pop culture podcast.</li>
</ul>

<!-- Clickable image linking to Baconsale -->
<a href="https://baconsale.com/" target="_blank">
    <img src="https://public.boxcloud.com/api/2.0/internal_files/1439606248084/versions/1578785044521/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!Eup-NhxQTQDxgnVpJ3EiG1ugkhbyPCZqsibK2QYoavW7yrIFZwpQQlABM5MzvqAU7mbIvPwzMwq1lBQpEjmyjrrRRYXzg-5gQFXNQdFmZswI3oa4MTuYYM4spKAjBPIFkb3_14_JEiX_sxVxoZWkBWWV0bK78Ojoy9B5LrnzBxSCulFz7hjdp9DUQygYMpxKlOd6nxAkYqFSgv4nmZ0qmrkUTAKYBbwcwgVoKWX4Si3U292BpL0JQNDeNvZbtCNF8j5G4u_ffeuUR7uOZN92buyD4VAYVbNMLnzYUmgNkFn9XcyEpa8VlB4eIr-rpLb-3zsmsFWTkU9RDkicjHN8OZlWyScAP_Sk-Yui05iT3VgP4DR0L3LNQopjcMKJSostJs4GbccI7Gy-ukF1nbvXG9W7XGwi4Z3YzqVsmtY_h64Zq96zJvEeAM7nRehvMRodrpxC7UPFlwB0g2jn9_bv-iPXi9AGjMELy2mtdDYeqc00OXn2XVRUbaD6r8MEoles7l-gcUsQs2MZ5tFQ-XzLQfyFFZE6LTF4jTxRkbZjISTmNDjKukJLNlYv0AFhWOjE0MtH_dJO5xsAp64Buf86wcA_TDcnXYoOTKdZA8ZyqPYGmoH85jDYk56GkVW1tWEh7pzXvPrhNgo5hwknNIRiVl62Sb7YgF_qi2Y_nHP794YbDhboThCl3omD9Hf8fIrpz67ma7PltKmRlpWk8tXhCs-FuWxACyRxhB9tBPdfQuGEOB_FdOjcon3qSUb6P7naHVwXIrLQ-fEHzQTP2Xific5xDarO&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2Fie6ibeddqm0f6oudp7bc5dyt87zxi2u4&box_client_name=box-content-preview&box_client_version=3.0.0" alt="Joel Baconsale" width="400">
</a>
</body>
</html>