@{
    ViewData["Title"] = "Home Page";
}
<!--tittle -->
<h2>Joel Hilton Film Collection</h2>
<!--joel image -->
<img src="img/JoelHiltonHeadshot.jpg" />

<a asp-action="EnterMovie" class="btn btn-primary">Edit a Movie</a>
<a asp-action="MovieList" class="btn btn-secondary">View Movies</a>
